body {
    background-color: silver;
}

.print {
    position: relative;
    color: black;
    padding: 1px;
}



.print p:hover {
    color:springgreen;
}

/*Old Image code*/

/*.center img {
    display: block;
    padding: auto;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    filter: blur(1px);    
    border: 1px solid black;
    border-radius: 3px;
}

.fade {
    position: absolute;
    opacity: 0;
    transition: .3s ease;
    background-color: gray;
}

center:hover {
    opacity: .5;
}

.container {
    position: relative;;
    width: 100%;
    text-align: center;
}

.imgText {
    color: red;
    font-size: 30px;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 300px;
    right: 0;
    bottom: 0;
    left: 0;
}*/


/*New Image code*/


.container {
    position: relative;
    width: 512px;
    height: 512px;
    margin: 100px auto;
}

.image {
    display: block;
    position: relative;
    border: 1px solid #000;
    border-radius: 3px;
    filter: grayscale(.5);
}

.image img {
    max-width: 100%;
    width: 512px;
    height: 512px;
}

.textOverlay {
    color: red;
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.fade {
    position: absolute;
    top: 0;     /*centers onto image as to not go past the border*/
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: black;
}

.container:hover .fade {
    opacity: .3;
}



/*Video*/












footer {
    font-weight: 500;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid #000;
    text-align: center;
}

th {
    background-color: cyan;
}
            /*Nav*/
.nav {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
}
.nav a :hover {
    background-color: blue;
}


.menu {
    text-align: center;
    margin: 0%;
    padding: 0;
    list-style: none;   /*Gets rid of dots*/
    text-decoration: none;
}

.menu li {
    color: #000;    /*Text Color*/
    background-color: red;
    display: inline-block;
    margin: 0% auto;
    overflow: hidden;   /*Hides background if it's outside of block*/
    position: relative;
    padding: 10px 3%;
    border: 2px solid #9D9FA2;
    border-radius: 3px;
    cursor: pointer;
    transition-property: background;    /*States that the background will change*/
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;    /*type of animation*/
}

/*Columns*/

* {
    box-sizing: border-box;
}

/*.row {                another way to do a column
    content:"";
    display: table;     Act like a table
    clear: both;     Clear any float prior to this line in any direction
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}*/

.row {
    display: flex;
}

.column {
    color: pink;
    float:left;     /*moves everything to the left. Like reading a book*/
    width: 50%;      /*spaces things into equal parts*/
    height: 550px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;  /*This makes it look nicer*/
}