.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: blur(1px);    
    border: 1px solid black;
    border-radius: 3px;
}
footer {
    text-align: center;
}