body {
    background-color: silver;
}




.center {
    display: block;
    margin: auto;
    width: 50%;
    filter: blur(1px);    
    border: 1px solid black;
    border-radius: 3px;
}

.centerImg {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container {
    position: relative;
    color: red;
    text-align: center;
    font-size: 30px;
}

footer {
    font-weight: 500;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid #000;
    text-align: center;
}

th {
    background-color: cyan;
}
            /*Nav*/
.nav {
    position: fixed;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 100%;
}
.nav a :hover {
    background-color: blue;
}


.menu {
    text-align: center;
    margin: 0%;
    padding: 0;
    list-style: none;   /*Gets rid of dots*/
    text-decoration: none;
}

.menu li {
    color: #000;    /*Text Color*/
    background-color: red;
    display: inline-block;
    margin: 0% auto;
    overflow: hidden;   /*Hides background if it's outside of block*/
    position: relative;
    padding: 10px 3%;
    border: 2px solid #9D9FA2;
    border-radius: 3px;
    cursor: pointer;
    transition-property: background;    /*States that the background will change*/
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;    /*type of animation*/
}

/*Columns*/

* {
    box-sizing: border-box;
}

.row {
    content:"";
    display: table;     /*Act like a table*/
    clear: both;     /*Clear any float prior to this line in any direction*/
    margin-left: auto;
    margin-right: auto;
}

.column {
    float:left;     /*moves everything to the left. Like reading a book*/
    width:50%;      /*spaces things into equal parts*/
    padding: 10px;  /*This makes it look nicer*/
}