.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    filter: blur(1px);    
    border: 1px solid black;
    border-radius: 3px;
}
footer {
    font-weight: 500;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-collapse: collapse;

}

table, th, td {
    border: 1px solid #000;
    text-align: center;
}

th {
    background-color: cyan;
}